body {
    background-color: #f0f8ff; /* Light blue background */
    color: #333; /* Dark text color */
    font-family: Arial, sans-serif;
    margin: 0;
}

.quiz-heading {
    color: #000080; /* Navy blue for the quiz heading */
}

.app-body {
    max-width: 600px;
    margin: 20px auto;
    background-color: #ffffff; /* White background for the quiz content */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Light shadow for depth */
}

.answer-key {
    color: #000080; /* Navy blue for the answer key */
}


form {
    margin-bottom: 15px;
}

input[type="radio"] {
    margin-bottom: 5px;
}

.submit {
    background-color: #000080; /* Navy blue for the submit button */
    color: #ffffff; /* White text color for the submit button */
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submit:hover {
    background-color: #001F3F; /* Darker shade on hover */
}

#res {
    color: #000080; /* Navy blue for the result text */
    margin-top: 10px;
}

button {
    background-color: #4682b4; /* Steel blue for the restart button */
    color: #ffffff; /* White text color for the restart button */
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #5a92b4; /* Darker shade on hover */
}

.question-card {
    background: white;
    max-width: 600px;
    width: 90%;
    padding: 15px 20px;
    margin: 50px auto;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


.next {
    background: #28A745;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 9px 15px;
}
li {
    margin: 20px;
}
.answer-label {
    background: #28A745;
    color: white;
    padding: 5px;
    font-size: 14px;
    text-align: center;
    width: fit-content;
    margin: 5px;
    border-radius: 5px;
}
.correct {
    background: #D4EDDA;
    color: #156340;
    margin: 5px 0px -15px 0px !important;
    border-radius: 5px;
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
    width: fit-content;
}
.incorrect {
    background: #F8D7DA;
    color: #722845;
    margin: 5px 0px -15px 0px !important;
    border-radius: 5px;
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
    width: fit-content;
}
.idle {
    margin: 0px !important;
    padding: 0px;
    visibility: hidden;
}

